docroot/cleanwise/reporting/dtds/AddressValidation.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT AddressValidationList (AddressValidation)+>
<!ELEMENT AddressValidation (City,StateProvinceCd,PostalCodeStart,PostalCodeEnd,EntryType,AddDate,AddBy,ModDate,ModBy)>
<!ATTLIST AddressValidation Id ID #REQUIRED>
<!ELEMENT City (#PCDATA)>
<!ELEMENT StateProvinceCd (#PCDATA)>
<!ELEMENT PostalCodeStart (#PCDATA)>
<!ELEMENT PostalCodeEnd (#PCDATA)>
<!ELEMENT EntryType (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>