docroot/cleanwise/reporting/dtds/BlanketPoNumAssoc.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT BlanketPoNumAssocList (BlanketPoNumAssoc)+>
<!ELEMENT BlanketPoNumAssoc (BlanketPoNumId,BusEntityId,AddBy,AddDate,ModBy,ModDate)>
<!ATTLIST BlanketPoNumAssoc Id ID #REQUIRED>
<!ELEMENT BlanketPoNumId (#PCDATA)>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>