docroot/cleanwise/reporting/dtds/BlanketPoNum.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT BlanketPoNumList (BlanketPoNum)+>
<!ELEMENT BlanketPoNum (AddBy,AddDate,BlanketCustPoNumberTypeCd,CurrentRelease,ModBy,ModDate,PoNumber,Seperator,ShortDesc,StatusCd)>
<!ATTLIST BlanketPoNum Id ID #REQUIRED>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT BlanketCustPoNumberTypeCd (#PCDATA)>
<!ELEMENT CurrentRelease (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT PoNumber (#PCDATA)>
<!ELEMENT Seperator (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>
<!ELEMENT StatusCd (#PCDATA)>