docroot/cleanwise/reporting/dtds/BusEntity.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT BusEntityList (BusEntity)+>
<!ELEMENT BusEntity (AddBy,AddDate,BusEntityStatusCd,BusEntityTypeCd,EffDate,ErpNum,ExpDate,LocaleCd,LongDesc,ModBy,ModDate,ShortDesc,WorkflowRoleCd)>
<!ATTLIST BusEntity Id ID #REQUIRED>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT BusEntityStatusCd (#PCDATA)>
<!ELEMENT BusEntityTypeCd (#PCDATA)>
<!ELEMENT EffDate (#PCDATA)>
<!ELEMENT ErpNum (#PCDATA)>
<!ELEMENT ExpDate (#PCDATA)>
<!ELEMENT LocaleCd (#PCDATA)>
<!ELEMENT LongDesc (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>
<!ELEMENT WorkflowRoleCd (#PCDATA)>