docroot/cleanwise/reporting/dtds/BusEntityGroup.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT BusEntityGroupList (BusEntityGroup)+>
<!ELEMENT BusEntityGroup (BusEntityId,GroupId,AddBy,AddDate,ModBy,ModDate)>
<!ATTLIST BusEntityGroup Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT GroupId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>