docroot/cleanwise/reporting/dtds/Call.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT CallList (Call)+>
<!ELEMENT Call (,AccountIdAssignedToId,OpenedById,OrderId,SiteId,AddBy,AddDate,AddTime,CallSeverityCd,CallStatusCd,CallTypeCd,ClosedDate,Comments,ContactEmailAddress,ContactName,ContactPhoneNumber,CustomerField1,LongDesc,ModBy,ModDate,ProductName,ShortDesc)>
<!ATTLIST Call Id ID #REQUIRED>
<!ELEMENT AccountId (#PCDATA)>
<!ELEMENT AssignedToId (#PCDATA)>
<!ELEMENT OpenedById (#PCDATA)>
<!ELEMENT OrderId (#PCDATA)>
<!ELEMENT SiteId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT AddTime (#PCDATA)>
<!ELEMENT CallSeverityCd (#PCDATA)>
<!ELEMENT CallStatusCd (#PCDATA)>
<!ELEMENT CallTypeCd (#PCDATA)>
<!ELEMENT ClosedDate (#PCDATA)>
<!ELEMENT Comments (#PCDATA)>
<!ELEMENT ContactEmailAddress (#PCDATA)>
<!ELEMENT ContactName (#PCDATA)>
<!ELEMENT ContactPhoneNumber (#PCDATA)>
<!ELEMENT CustomerField1 (#PCDATA)>
<!ELEMENT LongDesc (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ProductName (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>