docroot/cleanwise/reporting/dtds/Cause.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT CauseList (Cause)+>
<!ELEMENT Cause (,IssueId,ShortDesc,CauseTypeCd,CauseStatusCd,RankWeight,ContentUrl,AddDate,AddBy,ModDate,ModBy)>
<!ATTLIST Cause Id ID #REQUIRED>
<!ELEMENT IssueId (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>
<!ELEMENT CauseTypeCd (#PCDATA)>
<!ELEMENT CauseStatusCd (#PCDATA)>
<!ELEMENT RankWeight (#PCDATA)>
<!ELEMENT ContentUrl (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>