docroot/cleanwise/reporting/dtds/CityPostalCode.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT CityPostalCodeList (CityPostalCode)+>
<!ELEMENT CityPostalCode (AddBy,AddDate,City,CountryCd,CountyCd,EntryType,ModBy,ModDate,PostalCode,StateProvinceCd,StateProvinceNam,TaxRate)>
<!ATTLIST CityPostalCode Id ID #REQUIRED>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT City (#PCDATA)>
<!ELEMENT CountryCd (#PCDATA)>
<!ELEMENT CountyCd (#PCDATA)>
<!ELEMENT EntryType (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT PostalCode (#PCDATA)>
<!ELEMENT StateProvinceCd (#PCDATA)>
<!ELEMENT StateProvinceNam (#PCDATA)>
<!ELEMENT TaxRate (#PCDATA)>