docroot/cleanwise/reporting/dtds/ClwShoppingOptions.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ClwShoppingOptionsList (ClwShoppingOptions)+>
<!ELEMENT ClwShoppingOptions (,AccountId,AddBy,AddDate,FieldValue,ModBy,ModDate,OptionValue)>
<!ATTLIST ClwShoppingOptions Id ID #REQUIRED>
<!ELEMENT AccountId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT FieldValue (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT OptionValue (#PCDATA)>