docroot/cleanwise/reporting/dtds/Contact.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ContactList (Contact)+>
<!ELEMENT Contact (,BusEntityId,AddBy,AddDate,ContactTypeCd,FirstName,LastName,ModBy,ModDate)>
<!ATTLIST Contact Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ContactTypeCd (#PCDATA)>
<!ELEMENT FirstName (#PCDATA)>
<!ELEMENT LastName (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>