docroot/cleanwise/reporting/dtds/ContentLog.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ContentLogList (ContentLog)+>
<!ELEMENT ContentLog (,ContentId,Change,Date,Time)>
<!ATTLIST ContentLog Id ID #REQUIRED>
<!ELEMENT ContentId (#PCDATA)>
<!ELEMENT Change (#PCDATA)>
<!ELEMENT Date (#PCDATA)>
<!ELEMENT Time (#PCDATA)>