docroot/cleanwise/reporting/dtds/Content.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ContentList (Content)+>
<!ELEMENT Content (,BusEntityId,ItemId,AddBy,AddDate,ContentStatusCd,ContentTypeCd,ContentUsageCd,EffDate,ExpDate,LanguageCd,LocaleCd,LongDesc,ModBy,ModDate,Path,ShortDesc,SourceCd,Version)>
<!ATTLIST Content Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ContentStatusCd (#PCDATA)>
<!ELEMENT ContentTypeCd (#PCDATA)>
<!ELEMENT ContentUsageCd (#PCDATA)>
<!ELEMENT EffDate (#PCDATA)>
<!ELEMENT ExpDate (#PCDATA)>
<!ELEMENT LanguageCd (#PCDATA)>
<!ELEMENT LocaleCd (#PCDATA)>
<!ELEMENT LongDesc (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT Path (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>
<!ELEMENT SourceCd (#PCDATA)>
<!ELEMENT Version (#PCDATA)>