docroot/cleanwise/reporting/dtds/CostCenter.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT CostCenterList (CostCenter)+>
<!ELEMENT CostCenter (,CatalogId,AddBy,AddDate,AllocateFreight,BudgetAmount,BudgetMmdd1,BudgetMmdd10,BudgetMmdd11,BudgetMmdd12,BudgetMmdd13,BudgetMmdd2,BudgetMmdd3,BudgetMmdd4,BudgetMmdd5,BudgetMmdd6,BudgetMmdd7,BudgetMmdd8,BudgetMmdd9,BudgetPeriodCd,BudgetStartDate,CostCenterStatusCd,CostCenterTaxType,CostCenterTypeCd,EffDate,ExpDate,ModBy,ModDate,ShortDesc)>
<!ATTLIST CostCenter Id ID #REQUIRED>
<!ELEMENT CatalogId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT AllocateFreight (#PCDATA)>
<!ELEMENT BudgetAmount (#PCDATA)>
<!ELEMENT BudgetMmdd1 (#PCDATA)>
<!ELEMENT BudgetMmdd10 (#PCDATA)>
<!ELEMENT BudgetMmdd11 (#PCDATA)>
<!ELEMENT BudgetMmdd12 (#PCDATA)>
<!ELEMENT BudgetMmdd13 (#PCDATA)>
<!ELEMENT BudgetMmdd2 (#PCDATA)>
<!ELEMENT BudgetMmdd3 (#PCDATA)>
<!ELEMENT BudgetMmdd4 (#PCDATA)>
<!ELEMENT BudgetMmdd5 (#PCDATA)>
<!ELEMENT BudgetMmdd6 (#PCDATA)>
<!ELEMENT BudgetMmdd7 (#PCDATA)>
<!ELEMENT BudgetMmdd8 (#PCDATA)>
<!ELEMENT BudgetMmdd9 (#PCDATA)>
<!ELEMENT BudgetPeriodCd (#PCDATA)>
<!ELEMENT BudgetStartDate (#PCDATA)>
<!ELEMENT CostCenterStatusCd (#PCDATA)>
<!ELEMENT CostCenterTaxType (#PCDATA)>
<!ELEMENT CostCenterTypeCd (#PCDATA)>
<!ELEMENT EffDate (#PCDATA)>
<!ELEMENT ExpDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>