docroot/cleanwise/reporting/dtds/CreditCardTrans.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT CreditCardTransList (CreditCardTrans)+>
<!ELEMENT CreditCardTrans (InvoiceCustId,OrderCreditCardId,AddBy,AddDate,Amount,AuthCode,ModBy,ModDate,TransactionReference,TransactionTypeCd)>
<!ATTLIST CreditCardTrans Id ID #REQUIRED>
<!ELEMENT InvoiceCustId (#PCDATA)>
<!ELEMENT OrderCreditCardId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Amount (#PCDATA)>
<!ELEMENT AuthCode (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT TransactionReference (#PCDATA)>
<!ELEMENT TransactionTypeCd (#PCDATA)>