docroot/cleanwise/reporting/dtds/Currency.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT CurrencyList (Currency)+>
<!ELEMENT Currency (AddBy,AddDate,Amount,CurrencyCd,EffDate,ExpDate,ModBy,ModDate)>
<!ATTLIST Currency Id ID #REQUIRED>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Amount (#PCDATA)>
<!ELEMENT CurrencyCd (#PCDATA)>
<!ELEMENT EffDate (#PCDATA)>
<!ELEMENT ExpDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>