docroot/cleanwise/reporting/dtds/ElectronicTransaction.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ElectronicTransactionList (ElectronicTransaction)+>
<!ELEMENT ElectronicTransaction (InterchangeId,OrderId,ReferenceId,AddBy,AddDate,Exception,GroupControlNumber,GroupReceiver,GroupSender,GroupType,KeyString,ModBy,ModDate,ReferenceTable,SetControlNumber,SetData,SetStatus,SetType)>
<!ATTLIST ElectronicTransaction Id ID #REQUIRED>
<!ELEMENT InterchangeId (#PCDATA)>
<!ELEMENT OrderId (#PCDATA)>
<!ELEMENT ReferenceId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Exception (#PCDATA)>
<!ELEMENT GroupControlNumber (#PCDATA)>
<!ELEMENT GroupReceiver (#PCDATA)>
<!ELEMENT GroupSender (#PCDATA)>
<!ELEMENT GroupType (#PCDATA)>
<!ELEMENT KeyString (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ReferenceTable (#PCDATA)>
<!ELEMENT SetControlNumber (#PCDATA)>
<!ELEMENT SetData (#PCDATA)>
<!ELEMENT SetStatus (#PCDATA)>
<!ELEMENT SetType (#PCDATA)>