docroot/cleanwise/reporting/dtds/Email.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT EmailList (Email)+>
<!ELEMENT Email (,BusEntityIdContactId,UserId,AddBy,AddDate,EmailAddress,EmailStatusCd,EmailTypeCd,ModBy,ModDate,PrimaryInd,ShortDesc)>
<!ATTLIST Email Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT ContactId (#PCDATA)>
<!ELEMENT UserId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT EmailAddress (#PCDATA)>
<!ELEMENT EmailStatusCd (#PCDATA)>
<!ELEMENT EmailTypeCd (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT PrimaryInd (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>