docroot/cleanwise/reporting/dtds/Evaluation.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT EvaluationList (Evaluation)+>
<!ELEMENT Evaluation (CauseId,RuleId,RankWeight,AddDate,AddBy,ModDate,ModBy)>
<!ATTLIST Evaluation Id ID #REQUIRED>
<!ELEMENT CauseId (#PCDATA)>
<!ELEMENT RuleId (#PCDATA)>
<!ELEMENT RankWeight (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>