docroot/cleanwise/reporting/dtds/Group.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT GroupList (Group)+>
<!ELEMENT Group (AddBy,AddDate,GroupStatusCd,GroupTypeCd,ModBy,ModDate,ShortDesc)>
<!ATTLIST Group Id ID #REQUIRED>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT GroupStatusCd (#PCDATA)>
<!ELEMENT GroupTypeCd (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>