docroot/cleanwise/reporting/dtds/Interchange.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT InterchangeList (Interchange)+>
<!ELEMENT Interchange (TradingProfileId,AddBy,AddDate,EdiFileName,InterchangeControlNum,InterchangeReceiver,InterchangeSender,InterchangeType,ModBy,ModDate,TestInd)>
<!ATTLIST Interchange Id ID #REQUIRED>
<!ELEMENT TradingProfileId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT EdiFileName (#PCDATA)>
<!ELEMENT InterchangeControlNum (#PCDATA)>
<!ELEMENT InterchangeReceiver (#PCDATA)>
<!ELEMENT InterchangeSender (#PCDATA)>
<!ELEMENT InterchangeType (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT TestInd (#PCDATA)>