docroot/cleanwise/reporting/dtds/InventoryItems.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT InventoryItemsList (InventoryItems)+>
<!ELEMENT InventoryItems (,BusEntityId,ItemId,AddBy,AddDate,EnableAutoOrder,ModBy,ModDate,StatusCd)>
<!ATTLIST InventoryItems Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT EnableAutoOrder (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT StatusCd (#PCDATA)>