docroot/cleanwise/reporting/dtds/InventoryLevel.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT InventoryLevelList (InventoryLevel)+>
<!ELEMENT InventoryLevel (,BusEntityId,ItemId,AddBy,AddDate,ModBy,ModDate,ParsModBy,ParsModDate,ParValue1,ParValue10,ParValue11,ParValue12,ParValue13,ParValue2,ParValue3,ParValue4,ParValue5,ParValue6,ParValue7,ParValue8,ParValue9,QtyOnHand)>
<!ATTLIST InventoryLevel Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ParsModBy (#PCDATA)>
<!ELEMENT ParsModDate (#PCDATA)>
<!ELEMENT ParValue1 (#PCDATA)>
<!ELEMENT ParValue10 (#PCDATA)>
<!ELEMENT ParValue11 (#PCDATA)>
<!ELEMENT ParValue12 (#PCDATA)>
<!ELEMENT ParValue13 (#PCDATA)>
<!ELEMENT ParValue2 (#PCDATA)>
<!ELEMENT ParValue3 (#PCDATA)>
<!ELEMENT ParValue4 (#PCDATA)>
<!ELEMENT ParValue5 (#PCDATA)>
<!ELEMENT ParValue6 (#PCDATA)>
<!ELEMENT ParValue7 (#PCDATA)>
<!ELEMENT ParValue8 (#PCDATA)>
<!ELEMENT ParValue9 (#PCDATA)>
<!ELEMENT QtyOnHand (#PCDATA)>