docroot/cleanwise/reporting/dtds/InvoiceCustDetail.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT InvoiceCustDetailList (InvoiceCustDetail)+>
<!ELEMENT InvoiceCustDetail (InvoiceCustId,OrderItemId,AddBy,AddDate,CustContractPrice,InvoiceDetailStatusCd,ItemPack,ItemQuantity,ItemShortDesc,ItemSkuNum,ItemUom,LineNumber,LineTotal,ModBy,ModDate,RebateStatusCd,ShipStatusCd)>
<!ATTLIST InvoiceCustDetail Id ID #REQUIRED>
<!ELEMENT InvoiceCustId (#PCDATA)>
<!ELEMENT OrderItemId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT CustContractPrice (#PCDATA)>
<!ELEMENT InvoiceDetailStatusCd (#PCDATA)>
<!ELEMENT ItemPack (#PCDATA)>
<!ELEMENT ItemQuantity (#PCDATA)>
<!ELEMENT ItemShortDesc (#PCDATA)>
<!ELEMENT ItemSkuNum (#PCDATA)>
<!ELEMENT ItemUom (#PCDATA)>
<!ELEMENT LineNumber (#PCDATA)>
<!ELEMENT LineTotal (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT RebateStatusCd (#PCDATA)>
<!ELEMENT ShipStatusCd (#PCDATA)>