docroot/cleanwise/reporting/dtds/InvoiceDetail.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT InvoiceDetailList (InvoiceDetail)+>
<!ELEMENT InvoiceDetail (LineNumber,CwSku,ProductName,Uom,Quantity,Price,LineTotal,InvoiceId)>
<!ATTLIST InvoiceDetail Id ID #REQUIRED>
<!ELEMENT LineNumber (#PCDATA)>
<!ELEMENT CwSku (#PCDATA)>
<!ELEMENT ProductName (#PCDATA)>
<!ELEMENT Uom (#PCDATA)>
<!ELEMENT Quantity (#PCDATA)>
<!ELEMENT Price (#PCDATA)>
<!ELEMENT LineTotal (#PCDATA)>
<!ELEMENT InvoiceId (#PCDATA)>