docroot/cleanwise/reporting/dtds/ItemMappingAssoc.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ItemMappingAssocList (ItemMappingAssoc)+>
<!ELEMENT ItemMappingAssoc (,ItemMapping1IdItemMapping2Id,AddBy,AddDate,ItemMappingAssocCd,ModBy,ModDate)>
<!ATTLIST ItemMappingAssoc Id ID #REQUIRED>
<!ELEMENT ItemMapping1Id (#PCDATA)>
<!ELEMENT ItemMapping2Id (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ItemMappingAssocCd (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>