docroot/cleanwise/reporting/dtds/ItemLog.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ItemLogList (ItemLog)+>
<!ELEMENT ItemLog (,ItemId,Change,Date,Time)>
<!ATTLIST ItemLog Id ID #REQUIRED>
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT Change (#PCDATA)>
<!ELEMENT Date (#PCDATA)>
<!ELEMENT Time (#PCDATA)>