docroot/cleanwise/reporting/dtds/ItemSubstitutionDef.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ItemSubstitutionDefList (ItemSubstitutionDef)+>
<!ELEMENT ItemSubstitutionDef (,BusEntityIdItemId,SubstItemId,AddBy,AddDate,ModBy,ModDate,SubstStatusCd,SubstTypeCd,UomConversionFactor)>
<!ATTLIST ItemSubstitutionDef Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT SubstItemId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT SubstStatusCd (#PCDATA)>
<!ELEMENT SubstTypeCd (#PCDATA)>
<!ELEMENT UomConversionFactor (#PCDATA)>