docroot/cleanwise/reporting/dtds/ItemKeyword.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ItemKeywordList (ItemKeyword)+>
<!ELEMENT ItemKeyword (,ItemId,AddBy,AddDate,Keyword,ModBy,ModDate)>
<!ATTLIST ItemKeyword Id ID #REQUIRED>
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Keyword (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>