docroot/cleanwise/reporting/dtds/ItemMapping.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ItemMappingList (ItemMapping)+>
<!ELEMENT ItemMapping (,BusEntityIdItemId,AddBy,AddDate,EffDate,ExpDate,ItemMappingCd,ItemNum,ItemPack,ItemUom,LongDesc,ModBy,ModDate,ShortDesc,StandardProductList,StatusCd,UomConvMultiplier)>
<!ATTLIST ItemMapping Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT EffDate (#PCDATA)>
<!ELEMENT ExpDate (#PCDATA)>
<!ELEMENT ItemMappingCd (#PCDATA)>
<!ELEMENT ItemNum (#PCDATA)>
<!ELEMENT ItemPack (#PCDATA)>
<!ELEMENT ItemUom (#PCDATA)>
<!ELEMENT LongDesc (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>
<!ELEMENT StandardProductList (#PCDATA)>
<!ELEMENT StatusCd (#PCDATA)>
<!ELEMENT UomConvMultiplier (#PCDATA)>