docroot/cleanwise/reporting/dtds/MessageResource.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT MessageResourceList (MessageResource)+>
<!ELEMENT MessageResource (,BusEntityId,AddBy,AddDate,Value,Locale,ModBy,ModDate,Name)>
<!ATTLIST MessageResource Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Value (#PCDATA)>
<!ELEMENT Locale (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT Name (#PCDATA)>