docroot/cleanwise/reporting/dtds/NoteText.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT NoteTextList (NoteText)+>
<!ELEMENT NoteText (,NoteId,AddBy,AddDate,ModBy,ModDate,NoteText,PageNum,SeqNum,UserFirstName,UserLastName)>
<!ATTLIST NoteText Id ID #REQUIRED>
<!ELEMENT NoteId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT NoteText (#PCDATA)>
<!ELEMENT PageNum (#PCDATA)>
<!ELEMENT SeqNum (#PCDATA)>
<!ELEMENT UserFirstName (#PCDATA)>
<!ELEMENT UserLastName (#PCDATA)>