docroot/cleanwise/reporting/dtds/OrderFreight.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT OrderFreightList (OrderFreight)+>
<!ELEMENT OrderFreight (,BusEntityIdFreightHandlerId,OrderId,Amount,FreightTypeCd,ShortDesc)>
<!ATTLIST OrderFreight Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT FreightHandlerId (#PCDATA)>
<!ELEMENT OrderId (#PCDATA)>
<!ELEMENT Amount (#PCDATA)>
<!ELEMENT FreightTypeCd (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>