docroot/cleanwise/reporting/dtds/OrderMeta.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT OrderMetaList (OrderMeta)+>
<!ELEMENT OrderMeta (,OrderId,AddBy,AddDate,Value,ModBy,ModDate,Name,ValueNum)>
<!ATTLIST OrderMeta Id ID #REQUIRED>
<!ELEMENT OrderId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Value (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT ValueNum (#PCDATA)>