docroot/cleanwise/reporting/dtds/OrderBatchLog.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT OrderBatchLogList (OrderBatchLog)+>
<!ELEMENT OrderBatchLog (,BusEntityId,OrderSourceId,AddBy,AddDate,Message,ModBy,ModDate,OrderBatchStatusCd,OrderBatchTypeCd,OrderDate,OrderForDate,OrderNum)>
<!ATTLIST OrderBatchLog Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT OrderSourceId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Message (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT OrderBatchStatusCd (#PCDATA)>
<!ELEMENT OrderBatchTypeCd (#PCDATA)>
<!ELEMENT OrderDate (#PCDATA)>
<!ELEMENT OrderForDate (#PCDATA)>
<!ELEMENT OrderNum (#PCDATA)>