docroot/cleanwise/reporting/dtds/OrderStatus.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT OrderStatusList (OrderStatus)+>
<!ELEMENT OrderStatus (FrontEndOrderNumber,CustomerPoNumber,CustomerAcct,LocationName,ShippingAddress1,ShippingAddress2,ShippingAddress3,City,State,Zip,OrderStatus,OrderType,ShippingComments,DateOrdered,GrossWeight,Subtotal,Freight,Tax,TotalPrice,TotalCwCost,OrderModifiedDate,OrderModifiedTime,ErpOrderNumber,EstoreId,ErpOrderComments,ReqShipDateQualCode,ReqShipDate,ContractId,OriginalDateOrdered,ReferenceNumber,Method,OrderContactPhoneNumber,OrderContactName,BillToState,BillToZip,BillToCity,BillToAddress3,BillToAddress2,BillToAddress1,BillToName,CustomerBudgetRef,OrderContactEmailAddress,OrderContactFaxNumber,CustomerShippingName,CustomerShippingAddress1,CustomerShippingAddress2,CustomerShippingAddress3,CustomerShippingCity,CustomerShippingState,CustomerShippingZip,ErpShiptoIndex,ShippingAddressId,ProfileAddressFlag,ManuallyManipulated)>
<!ATTLIST OrderStatus Id ID #REQUIRED>
<!ELEMENT FrontEndOrderNumber (#PCDATA)>
<!ELEMENT CustomerPoNumber (#PCDATA)>
<!ELEMENT CustomerAcct (#PCDATA)>
<!ELEMENT LocationName (#PCDATA)>
<!ELEMENT ShippingAddress1 (#PCDATA)>
<!ELEMENT ShippingAddress2 (#PCDATA)>
<!ELEMENT ShippingAddress3 (#PCDATA)>
<!ELEMENT City (#PCDATA)>
<!ELEMENT State (#PCDATA)>
<!ELEMENT Zip (#PCDATA)>
<!ELEMENT OrderStatus (#PCDATA)>
<!ELEMENT OrderType (#PCDATA)>
<!ELEMENT ShippingComments (#PCDATA)>
<!ELEMENT DateOrdered (#PCDATA)>
<!ELEMENT GrossWeight (#PCDATA)>
<!ELEMENT Subtotal (#PCDATA)>
<!ELEMENT Freight (#PCDATA)>
<!ELEMENT Tax (#PCDATA)>
<!ELEMENT TotalPrice (#PCDATA)>
<!ELEMENT TotalCwCost (#PCDATA)>
<!ELEMENT OrderModifiedDate (#PCDATA)>
<!ELEMENT OrderModifiedTime (#PCDATA)>
<!ELEMENT ErpOrderNumber (#PCDATA)>
<!ELEMENT EstoreId (#PCDATA)>
<!ELEMENT ErpOrderComments (#PCDATA)>
<!ELEMENT ReqShipDateQualCode (#PCDATA)>
<!ELEMENT ReqShipDate (#PCDATA)>
<!ELEMENT ContractId (#PCDATA)>
<!ELEMENT OriginalDateOrdered (#PCDATA)>
<!ELEMENT ReferenceNumber (#PCDATA)>
<!ELEMENT Method (#PCDATA)>
<!ELEMENT OrderContactPhoneNumber (#PCDATA)>
<!ELEMENT OrderContactName (#PCDATA)>
<!ELEMENT BillToState (#PCDATA)>
<!ELEMENT BillToZip (#PCDATA)>
<!ELEMENT BillToCity (#PCDATA)>
<!ELEMENT BillToAddress3 (#PCDATA)>
<!ELEMENT BillToAddress2 (#PCDATA)>
<!ELEMENT BillToAddress1 (#PCDATA)>
<!ELEMENT BillToName (#PCDATA)>
<!ELEMENT CustomerBudgetRef (#PCDATA)>
<!ELEMENT OrderContactEmailAddress (#PCDATA)>
<!ELEMENT OrderContactFaxNumber (#PCDATA)>
<!ELEMENT CustomerShippingName (#PCDATA)>
<!ELEMENT CustomerShippingAddress1 (#PCDATA)>
<!ELEMENT CustomerShippingAddress2 (#PCDATA)>
<!ELEMENT CustomerShippingAddress3 (#PCDATA)>
<!ELEMENT CustomerShippingCity (#PCDATA)>
<!ELEMENT CustomerShippingState (#PCDATA)>
<!ELEMENT CustomerShippingZip (#PCDATA)>
<!ELEMENT ErpShiptoIndex (#PCDATA)>
<!ELEMENT ShippingAddressId (#PCDATA)>
<!ELEMENT ProfileAddressFlag (#PCDATA)>
<!ELEMENT ManuallyManipulated (#PCDATA)>