docroot/cleanwise/reporting/dtds/OrderScheduleDetail.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT OrderScheduleDetailList (OrderScheduleDetail)+>
<!ELEMENT OrderScheduleDetail (OrderScheduleId,AddBy,AddDate,Detail,ModBy,ModDate,OrderScheduleDetailCd,RecordStatusCd)>
<!ATTLIST OrderScheduleDetail Id ID #REQUIRED>
<!ELEMENT OrderScheduleId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Detail (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT OrderScheduleDetailCd (#PCDATA)>
<!ELEMENT RecordStatusCd (#PCDATA)>