docroot/cleanwise/reporting/dtds/OrderItemStatus.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT OrderItemStatusList (OrderItemStatus)+>
<!ELEMENT OrderItemStatus (CwSkuNumber,Manufacturer,QuantityOrdered,QuantityShipped,DateShipped,ProductName,ItemSize,Uom,Pack,Color,Price,VendorSku,ItemUpc,PackUpc,TopLevelCatName,LowestLevelCatName,ShippingWeight,CwCost,ItemModifiedDate,ItemModifiedTime,TrackingNumber,PoLineNumber,ErpPoId,CustOrderLineNumber,Status850,Status855,Status810,FrontEndProdName,OrderLineNumber,SubPrice,SubCwCost,SubCwSku,SubUom,SubProductName,SubVendorSku,CustomerOrderLineNumber,ManuallyManipulated)>
<!ATTLIST OrderItemStatus Id ID #REQUIRED>
<!ELEMENT CwSkuNumber (#PCDATA)>
<!ELEMENT Manufacturer (#PCDATA)>
<!ELEMENT QuantityOrdered (#PCDATA)>
<!ELEMENT QuantityShipped (#PCDATA)>
<!ELEMENT DateShipped (#PCDATA)>
<!ELEMENT ProductName (#PCDATA)>
<!ELEMENT ItemSize (#PCDATA)>
<!ELEMENT Uom (#PCDATA)>
<!ELEMENT Pack (#PCDATA)>
<!ELEMENT Color (#PCDATA)>
<!ELEMENT Price (#PCDATA)>
<!ELEMENT VendorSku (#PCDATA)>
<!ELEMENT ItemUpc (#PCDATA)>
<!ELEMENT PackUpc (#PCDATA)>
<!ELEMENT TopLevelCatName (#PCDATA)>
<!ELEMENT LowestLevelCatName (#PCDATA)>
<!ELEMENT ShippingWeight (#PCDATA)>
<!ELEMENT CwCost (#PCDATA)>
<!ELEMENT ItemModifiedDate (#PCDATA)>
<!ELEMENT ItemModifiedTime (#PCDATA)>
<!ELEMENT TrackingNumber (#PCDATA)>
<!ELEMENT PoLineNumber (#PCDATA)>
<!ELEMENT ErpPoId (#PCDATA)>
<!ELEMENT CustOrderLineNumber (#PCDATA)>
<!ELEMENT Status850 (#PCDATA)>
<!ELEMENT Status855 (#PCDATA)>
<!ELEMENT Status810 (#PCDATA)>
<!ELEMENT FrontEndProdName (#PCDATA)>
<!ELEMENT OrderLineNumber (#PCDATA)>
<!ELEMENT SubPrice (#PCDATA)>
<!ELEMENT SubCwCost (#PCDATA)>
<!ELEMENT SubCwSku (#PCDATA)>
<!ELEMENT SubUom (#PCDATA)>
<!ELEMENT SubProductName (#PCDATA)>
<!ELEMENT SubVendorSku (#PCDATA)>
<!ELEMENT CustomerOrderLineNumber (#PCDATA)>
<!ELEMENT ManuallyManipulated (#PCDATA)>