docroot/cleanwise/reporting/dtds/Order.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT OrderList (Order)+>
<!ELEMENT Order (,AccountIdContractId,CostCenterId,IncomingTradingProfileId,PreOrderId,RefOrderId,SiteId,StoreId,UserId,AccountErpNum,AddBy,AddDate,Comments,ContractShortDesc,CostCenterName,CurrencyCd,ErpOrderNum,ErpSystemCd,ExceptionInd,GrossWeight,LocaleCd,ModBy,ModDate,OrderBudgetTypeCd,OrderContactEmail,OrderContactFaxNum,OrderContactName,OrderContactPhoneNum,OrderNum,OrderSiteName,OrderSourceCd,OrderStatusCd,OrderTypeCd,OriginalAmount,OriginalOrderDate,OriginalOrderTime,RefOrderNum,RequestPoNum,RevisedOrderDate,RevisedOrderTime,SiteErpNum,TaxNum,TotalCleanwiseCost,TotalFreightCost,TotalMiscCost,TotalPrice,TotalRushCharge,TotalTaxCost,UserFirstName,UserLastName,WorkflowInd,WorkflowStatusCd)>
<!ATTLIST Order Id ID #REQUIRED>
<!ELEMENT AccountId (#PCDATA)>
<!ELEMENT ContractId (#PCDATA)>
<!ELEMENT CostCenterId (#PCDATA)>
<!ELEMENT IncomingTradingProfileId (#PCDATA)>
<!ELEMENT PreOrderId (#PCDATA)>
<!ELEMENT RefOrderId (#PCDATA)>
<!ELEMENT SiteId (#PCDATA)>
<!ELEMENT StoreId (#PCDATA)>
<!ELEMENT UserId (#PCDATA)>
<!ELEMENT AccountErpNum (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Comments (#PCDATA)>
<!ELEMENT ContractShortDesc (#PCDATA)>
<!ELEMENT CostCenterName (#PCDATA)>
<!ELEMENT CurrencyCd (#PCDATA)>
<!ELEMENT ErpOrderNum (#PCDATA)>
<!ELEMENT ErpSystemCd (#PCDATA)>
<!ELEMENT ExceptionInd (#PCDATA)>
<!ELEMENT GrossWeight (#PCDATA)>
<!ELEMENT LocaleCd (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT OrderBudgetTypeCd (#PCDATA)>
<!ELEMENT OrderContactEmail (#PCDATA)>
<!ELEMENT OrderContactFaxNum (#PCDATA)>
<!ELEMENT OrderContactName (#PCDATA)>
<!ELEMENT OrderContactPhoneNum (#PCDATA)>
<!ELEMENT OrderNum (#PCDATA)>
<!ELEMENT OrderSiteName (#PCDATA)>
<!ELEMENT OrderSourceCd (#PCDATA)>
<!ELEMENT OrderStatusCd (#PCDATA)>
<!ELEMENT OrderTypeCd (#PCDATA)>
<!ELEMENT OriginalAmount (#PCDATA)>
<!ELEMENT OriginalOrderDate (#PCDATA)>
<!ELEMENT OriginalOrderTime (#PCDATA)>
<!ELEMENT RefOrderNum (#PCDATA)>
<!ELEMENT RequestPoNum (#PCDATA)>
<!ELEMENT RevisedOrderDate (#PCDATA)>
<!ELEMENT RevisedOrderTime (#PCDATA)>
<!ELEMENT SiteErpNum (#PCDATA)>
<!ELEMENT TaxNum (#PCDATA)>
<!ELEMENT TotalCleanwiseCost (#PCDATA)>
<!ELEMENT TotalFreightCost (#PCDATA)>
<!ELEMENT TotalMiscCost (#PCDATA)>
<!ELEMENT TotalPrice (#PCDATA)>
<!ELEMENT TotalRushCharge (#PCDATA)>
<!ELEMENT TotalTaxCost (#PCDATA)>
<!ELEMENT UserFirstName (#PCDATA)>
<!ELEMENT UserLastName (#PCDATA)>
<!ELEMENT WorkflowInd (#PCDATA)>
<!ELEMENT WorkflowStatusCd (#PCDATA)>