docroot/cleanwise/reporting/dtds/OrderSchedule.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT OrderScheduleList (OrderSchedule)+>
<!ELEMENT OrderSchedule (,BusEntityIdOrderGuideId,UserId,AddBy,AddDate,CcEmail,Cycle,EffDate,ExpDate,ModBy,ModDate,OrderScheduleCd,OrderScheduleRuleCd,RecordStatusCd)>
<!ATTLIST OrderSchedule Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT OrderGuideId (#PCDATA)>
<!ELEMENT UserId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT CcEmail (#PCDATA)>
<!ELEMENT Cycle (#PCDATA)>
<!ELEMENT EffDate (#PCDATA)>
<!ELEMENT ExpDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT OrderScheduleCd (#PCDATA)>
<!ELEMENT OrderScheduleRuleCd (#PCDATA)>
<!ELEMENT RecordStatusCd (#PCDATA)>