docroot/cleanwise/reporting/dtds/PriceRuleLog.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT PriceRuleLogList (PriceRuleLog)+>
<!ELEMENT PriceRuleLog (PriceRuleId,Date,Time,Change)>
<!ATTLIST PriceRuleLog Id ID #REQUIRED>
<!ELEMENT PriceRuleId (#PCDATA)>
<!ELEMENT Date (#PCDATA)>
<!ELEMENT Time (#PCDATA)>
<!ELEMENT Change (#PCDATA)>