docroot/cleanwise/reporting/dtds/PriceRule.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT PriceRuleList (PriceRule)+>
<!ELEMENT PriceRule (AddBy,AddDate,EffDate,ExpDate,ModBy,ModDate,PriceRuleStatusCd,PriceRuleTypeCd,ShortDesc)>
<!ATTLIST PriceRule Id ID #REQUIRED>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT EffDate (#PCDATA)>
<!ELEMENT ExpDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT PriceRuleStatusCd (#PCDATA)>
<!ELEMENT PriceRuleTypeCd (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>