docroot/cleanwise/reporting/dtds/ProfileMeta.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ProfileMetaList (ProfileMeta)+>
<!ELEMENT ProfileMeta (,ProfileId,AddBy,AddDate,Value,HelpText,ModBy,ModDate,ProfileMetaStatusCd,ProfileMetaTypeCd)>
<!ATTLIST ProfileMeta Id ID #REQUIRED>
<!ELEMENT ProfileId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Value (#PCDATA)>
<!ELEMENT HelpText (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ProfileMetaStatusCd (#PCDATA)>
<!ELEMENT ProfileMetaTypeCd (#PCDATA)>