docroot/cleanwise/reporting/dtds/ProfileDetail.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ProfileDetailList (ProfileDetail)+>
<!ELEMENT ProfileDetail (,BusEntityId,ProfileDetailParentId,ProfileId,AddBy,AddDate,Value,LoopValue,ModBy,ModDate,ProfileDetailStatusCd,ShortDesc)>
<!ATTLIST ProfileDetail Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT ProfileDetailParentId (#PCDATA)>
<!ELEMENT ProfileId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Value (#PCDATA)>
<!ELEMENT LoopValue (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ProfileDetailStatusCd (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>