docroot/cleanwise/reporting/dtds/Purchaseorder.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT PurchaseOrderList (PurchaseOrder)+>
<!ELEMENT PurchaseOrder (,OrderId,StoreId,AddBy,AddDate,DistErpNum,ErpPoNum,ErpSystemCd,LineItemTotal,ModBy,ModDate,PoDate,PurchaseOrderStatusCd,PurchaseOrderTotal,PurchOrdManifestStatusCd,TaxTotal)>
<!ATTLIST PurchaseOrder Id ID #REQUIRED>
<!ELEMENT OrderId (#PCDATA)>
<!ELEMENT StoreId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT DistErpNum (#PCDATA)>
<!ELEMENT ErpPoNum (#PCDATA)>
<!ELEMENT ErpSystemCd (#PCDATA)>
<!ELEMENT LineItemTotal (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT PoDate (#PCDATA)>
<!ELEMENT PurchaseOrderStatusCd (#PCDATA)>
<!ELEMENT PurchaseOrderTotal (#PCDATA)>
<!ELEMENT PurchOrdManifestStatusCd (#PCDATA)>
<!ELEMENT TaxTotal (#PCDATA)>