docroot/cleanwise/reporting/dtds/RemittanceProperty.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT RemittancePropertyList (RemittanceProperty)+>
<!ELEMENT RemittanceProperty (,RemittanceDetailIdRemittanceId,AddBy,AddDate,Value,ModBy,ModDate,RemittancePropertyStatusCd,RemittancePropertyTypeCd)>
<!ATTLIST RemittanceProperty Id ID #REQUIRED>
<!ELEMENT RemittanceDetailId (#PCDATA)>
<!ELEMENT RemittanceId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Value (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT RemittancePropertyStatusCd (#PCDATA)>
<!ELEMENT RemittancePropertyTypeCd (#PCDATA)>