docroot/cleanwise/reporting/dtds/ResolutionAssoc.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ResolutionAssocList (ResolutionAssoc)+>
<!ELEMENT ResolutionAssoc (ResolutionId,ItemId,SkuId,AddDate,AddBy,ModDate,ModBy)>
<!ATTLIST ResolutionAssoc Id ID #REQUIRED>
<!ELEMENT ResolutionId (#PCDATA)>
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT SkuId (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>