docroot/cleanwise/reporting/dtds/ReturnRequestDetail.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ReturnRequestDetailList (ReturnRequestDetail)+>
<!ELEMENT ReturnRequestDetail (,OrderItemId,ReturnRequestId,AddBy,AddDate,ModBy,ModDate,PickupDate,QuantityReturned,RecievedDistPack,RecievedDistSku,RecievedDistUom)>
<!ATTLIST ReturnRequestDetail Id ID #REQUIRED>
<!ELEMENT OrderItemId (#PCDATA)>
<!ELEMENT ReturnRequestId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT PickupDate (#PCDATA)>
<!ELEMENT QuantityReturned (#PCDATA)>
<!ELEMENT RecievedDistPack (#PCDATA)>
<!ELEMENT RecievedDistSku (#PCDATA)>
<!ELEMENT RecievedDistUom (#PCDATA)>