docroot/cleanwise/reporting/dtds/Rule.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT RuleList (Rule)+>
<!ELEMENT Rule (ShortDesc,AddDate,AddBy,ModDate,ModBy)>
<!ATTLIST Rule Id ID #REQUIRED>
<!ELEMENT ShortDesc (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>