docroot/cleanwise/reporting/dtds/Scope.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ScopeList (Scope)+>
<!ELEMENT Scope (BusEntityId,AddressId,ShortDesc,ScopeStatusCd,AddDate,AddBy,ModDate,ModBy)>
<!ATTLIST Scope Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT AddressId (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>
<!ELEMENT ScopeStatusCd (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>