docroot/cleanwise/reporting/dtds/TradingProfileConfig.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT TradingProfileConfigList (TradingProfileConfig)+>
<!ELEMENT TradingProfileConfig (,IncomingTradingProfileId,TradingProfileId,AddBy,AddDate,Classname,Direction,ModBy,ModDate,Pattern,SetType)>
<!ATTLIST TradingProfileConfig Id ID #REQUIRED>
<!ELEMENT IncomingTradingProfileId (#PCDATA)>
<!ELEMENT TradingProfileId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Classname (#PCDATA)>
<!ELEMENT Direction (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT Pattern (#PCDATA)>
<!ELEMENT SetType (#PCDATA)>