docroot/cleanwise/reporting/dtds/TradingProfile.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT TradingProfileList (TradingProfile)+>
<!ELEMENT TradingProfile (,InterchangeStandardsIdTradingPartnerId,AcknowledgmentRequested,AddBy,AddDate,Authorization,AuthorizationQualifier,ElementTerminator,GroupControlNum,GroupReceiver,GroupSender,InterchangeControlNum,InterchangeReceiver,InterchangeReceiverQualifier,InterchangeSender,InterchangeSenderQualifier,InterchangeVersionNum,ModBy,ModDate,ResponsibleAgencyCode,SecurityInfo,SecurityInfoQualifier,SegmentTerminator,ShortDesc,SubElementTerminator,TestIndicator,TimeZone,VersionNum)>
<!ATTLIST TradingProfile Id ID #REQUIRED>
<!ELEMENT InterchangeStandardsId (#PCDATA)>
<!ELEMENT TradingPartnerId (#PCDATA)>
<!ELEMENT AcknowledgmentRequested (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Authorization (#PCDATA)>
<!ELEMENT AuthorizationQualifier (#PCDATA)>
<!ELEMENT ElementTerminator (#PCDATA)>
<!ELEMENT GroupControlNum (#PCDATA)>
<!ELEMENT GroupReceiver (#PCDATA)>
<!ELEMENT GroupSender (#PCDATA)>
<!ELEMENT InterchangeControlNum (#PCDATA)>
<!ELEMENT InterchangeReceiver (#PCDATA)>
<!ELEMENT InterchangeReceiverQualifier (#PCDATA)>
<!ELEMENT InterchangeSender (#PCDATA)>
<!ELEMENT InterchangeSenderQualifier (#PCDATA)>
<!ELEMENT InterchangeVersionNum (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ResponsibleAgencyCode (#PCDATA)>
<!ELEMENT SecurityInfo (#PCDATA)>
<!ELEMENT SecurityInfoQualifier (#PCDATA)>
<!ELEMENT SegmentTerminator (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>
<!ELEMENT SubElementTerminator (#PCDATA)>
<!ELEMENT TestIndicator (#PCDATA)>
<!ELEMENT TimeZone (#PCDATA)>
<!ELEMENT VersionNum (#PCDATA)>