docroot/cleanwise/reporting/dtds/TradingPropertyMap.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT TradingPropertyMapList (TradingPropertyMap)+>
<!ELEMENT TradingPropertyMap (,TradingProfileId,AddBy,AddDate,Direction,EntityProperty,HardValue,Mandatory,ModBy,ModDate,OrderBy,Pattern,PropertyTypeCd,QualifierCode,SetType,TradingPropertyMapCode,UseCode)>
<!ATTLIST TradingPropertyMap Id ID #REQUIRED>
<!ELEMENT TradingProfileId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Direction (#PCDATA)>
<!ELEMENT EntityProperty (#PCDATA)>
<!ELEMENT HardValue (#PCDATA)>
<!ELEMENT Mandatory (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT OrderBy (#PCDATA)>
<!ELEMENT Pattern (#PCDATA)>
<!ELEMENT PropertyTypeCd (#PCDATA)>
<!ELEMENT QualifierCode (#PCDATA)>
<!ELEMENT SetType (#PCDATA)>
<!ELEMENT TradingPropertyMapCode (#PCDATA)>
<!ELEMENT UseCode (#PCDATA)>