docroot/cleanwise/reporting/dtds/WorkflowLog.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT WorkflowLogList (WorkflowLog)+>
<!ELEMENT WorkflowLog (,WorkflowId,EndDate,EndTime,StartDate,StartTime,WorkflowStatusCd,WorkflowTypeCd)>
<!ATTLIST WorkflowLog Id ID #REQUIRED>
<!ELEMENT WorkflowId (#PCDATA)>
<!ELEMENT EndDate (#PCDATA)>
<!ELEMENT EndTime (#PCDATA)>
<!ELEMENT StartDate (#PCDATA)>
<!ELEMENT StartTime (#PCDATA)>
<!ELEMENT WorkflowStatusCd (#PCDATA)>
<!ELEMENT WorkflowTypeCd (#PCDATA)>