docroot/cleanwise/reporting/dtds/Workflow.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT WorkflowList (Workflow)+>
<!ELEMENT Workflow (,BusEntityId,AddBy,AddDate,EffDate,ExpDate,ModBy,ModDate,ShortDesc,WorkflowStatusCd,WorkflowTypeCd)>
<!ATTLIST Workflow Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT EffDate (#PCDATA)>
<!ELEMENT ExpDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>
<!ELEMENT WorkflowStatusCd (#PCDATA)>
<!ELEMENT WorkflowTypeCd (#PCDATA)>