kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/BaseCost.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT BaseCostList (BaseCost)+>
<!ELEMENT BaseCost (DistributorId,GroupId,ItemId,AddBy,AddDate,BaseCost,EffDate,ExpDate,ModBy,ModDate,RevDate)>
<!ATTLIST BaseCost Id ID #REQUIRED>
<!ELEMENT DistributorId (#PCDATA)>
<!ELEMENT GroupId (#PCDATA)>
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT BaseCost (#PCDATA)>
<!ELEMENT EffDate (#PCDATA)>
<!ELEMENT ExpDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT RevDate (#PCDATA)>