kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/BusEntityParameter.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT BusEntityParameterList (BusEntityParameter)+>
<!ELEMENT BusEntityParameter (,BusEntityId,AddBy,AddDate,Value,EffDate,ExpDate,ModBy,ModDate,Name)>
<!ATTLIST BusEntityParameter Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Value (#PCDATA)>
<!ELEMENT EffDate (#PCDATA)>
<!ELEMENT ExpDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT Name (#PCDATA)>