kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/Catalog.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT CatalogList (Catalog)+>
<!ELEMENT Catalog (AddBy,AddDate,CatalogStatusCd,CatalogTypeCd,EffDate,ExpDate,ModBy,ModDate,RankWeight,ShippingMessage,ShortDesc)>
<!ATTLIST Catalog Id ID #REQUIRED>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT CatalogStatusCd (#PCDATA)>
<!ELEMENT CatalogTypeCd (#PCDATA)>
<!ELEMENT EffDate (#PCDATA)>
<!ELEMENT ExpDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT RankWeight (#PCDATA)>
<!ELEMENT ShippingMessage (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>