kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/ContentDetailLog.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ContentDetailLogList (ContentDetailLog)+>
<!ELEMENT ContentDetailLog (DetailId,Change,Date,Time)>
<!ATTLIST ContentDetailLog Id ID #REQUIRED>
<!ELEMENT DetailId (#PCDATA)>
<!ELEMENT Change (#PCDATA)>
<!ELEMENT Date (#PCDATA)>
<!ELEMENT Time (#PCDATA)>