kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/ContractItem.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ContractItemList (ContractItem)+>
<!ELEMENT ContractItem (,ContractId,ItemId,AddBy,AddDate,Amount,CurrencyCd,DiscountAmount,DistBaseCost,DistCost,EffDate,ExpDate,ModBy,ModDate)>
<!ATTLIST ContractItem Id ID #REQUIRED>
<!ELEMENT ContractId (#PCDATA)>
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Amount (#PCDATA)>
<!ELEMENT CurrencyCd (#PCDATA)>
<!ELEMENT DiscountAmount (#PCDATA)>
<!ELEMENT DistBaseCost (#PCDATA)>
<!ELEMENT DistCost (#PCDATA)>
<!ELEMENT EffDate (#PCDATA)>
<!ELEMENT ExpDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>