kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/ContractGroup.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ContractGroupList (ContractGroup)+>
<!ELEMENT ContractGroup (ContractId,GroupId,ShortDes,AddDate,AddBy,ModDate,ModBy)>
<!ATTLIST ContractGroup Id ID #REQUIRED>
<!ELEMENT ContractId (#PCDATA)>
<!ELEMENT GroupId (#PCDATA)>
<!ELEMENT ShortDes (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>