kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/Dashboard.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT DashboardList (Dashboard)+>
<!ELEMENT Dashboard (ShortDesc,DashboardSegmentCd,UserId,DefaultInd,NameId,Name,ValueId,Value,Url,Comments,AddDate,AddBy,ModDate,ModBy)>
<!ATTLIST Dashboard Id ID #REQUIRED>
<!ELEMENT ShortDesc (#PCDATA)>
<!ELEMENT DashboardSegmentCd (#PCDATA)>
<!ELEMENT UserId (#PCDATA)>
<!ELEMENT DefaultInd (#PCDATA)>
<!ELEMENT NameId (#PCDATA)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT ValueId (#PCDATA)>
<!ELEMENT Value (#PCDATA)>
<!ELEMENT Url (#PCDATA)>
<!ELEMENT Comments (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>