kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/EmailTracking.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT EmailTrackingList (EmailTracking)+>
<!ELEMENT EmailTracking (AddBy,AddDate,CcAddress,EmailTrackingCd,EmailTrackingStatusCd,ModBy,ModDate,ReferenceNum,SendDate,SendTime,Subject,Text,ToAddress)>
<!ATTLIST EmailTracking Id ID #REQUIRED>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT CcAddress (#PCDATA)>
<!ELEMENT EmailTrackingCd (#PCDATA)>
<!ELEMENT EmailTrackingStatusCd (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ReferenceNum (#PCDATA)>
<!ELEMENT SendDate (#PCDATA)>
<!ELEMENT SendTime (#PCDATA)>
<!ELEMENT Subject (#PCDATA)>
<!ELEMENT Text (#PCDATA)>
<!ELEMENT ToAddress (#PCDATA)>