kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/Issue.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT IssueList (Issue)+>
<!ELEMENT Issue (BusEntityId,ShortDesc,IssueTypeCd,IssueStatusCd,AddDate,AddBy,ModDate,ModBy)>
<!ATTLIST Issue Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>
<!ELEMENT IssueTypeCd (#PCDATA)>
<!ELEMENT IssueStatusCd (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>