kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/ItemMeta.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ItemMetaList (ItemMeta)+>
<!ELEMENT ItemMeta (,ItemId,ValueId,AddBy,AddDate,Value,ModBy,ModDate,NameValue)>
<!ATTLIST ItemMeta Id ID #REQUIRED>
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT ValueId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Value (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT NameValue (#PCDATA)>