kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/JanitorCloset.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT JanitorClosetList (JanitorCloset)+>
<!ELEMENT JanitorCloset (,BusEntityIdItemId,OrderId,UserId,AddBy,AddDate,ModBy,ModDate,ShortDesc)>
<!ATTLIST JanitorCloset Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT OrderId (#PCDATA)>
<!ELEMENT UserId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>