kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/KnowledgeProperty.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT KnowledgePropertyList (KnowledgeProperty)+>
<!ELEMENT KnowledgeProperty (,KnowledgeId,AddBy,AddDate,AddTime,Value,KnowledgePropertyStatusCd,KnowledgePropertyTypeCd,ModBy,ModDate,ShortDesc)>
<!ATTLIST KnowledgeProperty Id ID #REQUIRED>
<!ELEMENT KnowledgeId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT AddTime (#PCDATA)>
<!ELEMENT Value (#PCDATA)>
<!ELEMENT KnowledgePropertyStatusCd (#PCDATA)>
<!ELEMENT KnowledgePropertyTypeCd (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>