kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/KnowledgeMeta.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT KnowledgeMetaList (KnowledgeMeta)+>
<!ELEMENT KnowledgeMeta (,KnowledgeId,ValueId,AddBy,AddDate,Value,ModBy,ModDate,NameValue)>
<!ATTLIST KnowledgeMeta Id ID #REQUIRED>
<!ELEMENT KnowledgeId (#PCDATA)>
<!ELEMENT ValueId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Value (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT NameValue (#PCDATA)>