kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/OrderItemAction.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT OrderItemActionList (OrderItemAction)+>
<!ELEMENT OrderItemAction (,ActualTransactionIdAffectedId,OrderId,OrderItemId,ActionCd,ActionDate,ActionTime,AddBy,AddDate,AffectedLineItem,AffectedOrderNum,AffectedSku,AffectedTable,Amount,Comments,ModBy,ModDate,Quantity)>
<!ATTLIST OrderItemAction Id ID #REQUIRED>
<!ELEMENT ActualTransactionId (#PCDATA)>
<!ELEMENT AffectedId (#PCDATA)>
<!ELEMENT OrderId (#PCDATA)>
<!ELEMENT OrderItemId (#PCDATA)>
<!ELEMENT ActionCd (#PCDATA)>
<!ELEMENT ActionDate (#PCDATA)>
<!ELEMENT ActionTime (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT AffectedLineItem (#PCDATA)>
<!ELEMENT AffectedOrderNum (#PCDATA)>
<!ELEMENT AffectedSku (#PCDATA)>
<!ELEMENT AffectedTable (#PCDATA)>
<!ELEMENT Amount (#PCDATA)>
<!ELEMENT Comments (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT Quantity (#PCDATA)>