kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/OrderAddress.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT OrderAddressList (OrderAddress)+>
<!ELEMENT OrderAddress (,ManifestItemId,OrderId,ReturnRequestId,Address1,Address2,Address3,Address4,AddressTypeCd,City,CountryCd,CountyCd,EmailAddress,EmailTypeCd,ErpNum,FaxPhoneNum,PhoneNum,PostalCode,ShortDesc,StateProvinceCd)>
<!ATTLIST OrderAddress Id ID #REQUIRED>
<!ELEMENT ManifestItemId (#PCDATA)>
<!ELEMENT OrderId (#PCDATA)>
<!ELEMENT ReturnRequestId (#PCDATA)>
<!ELEMENT Address1 (#PCDATA)>
<!ELEMENT Address2 (#PCDATA)>
<!ELEMENT Address3 (#PCDATA)>
<!ELEMENT Address4 (#PCDATA)>
<!ELEMENT AddressTypeCd (#PCDATA)>
<!ELEMENT City (#PCDATA)>
<!ELEMENT CountryCd (#PCDATA)>
<!ELEMENT CountyCd (#PCDATA)>
<!ELEMENT EmailAddress (#PCDATA)>
<!ELEMENT EmailTypeCd (#PCDATA)>
<!ELEMENT ErpNum (#PCDATA)>
<!ELEMENT FaxPhoneNum (#PCDATA)>
<!ELEMENT PhoneNum (#PCDATA)>
<!ELEMENT PostalCode (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>
<!ELEMENT StateProvinceCd (#PCDATA)>