kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/OrderGuideStructure.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT OrderGuideStructureList (OrderGuideStructure)+>
<!ELEMENT OrderGuideStructure (,CategoryItemIdItemId,OrderGuideId,AddBy,AddDate,ModBy,ModDate,Quantity)>
<!ATTLIST OrderGuideStructure Id ID #REQUIRED>
<!ELEMENT CategoryItemId (#PCDATA)>
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT OrderGuideId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT Quantity (#PCDATA)>