kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/OrderItem.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT OrderItemList (OrderItem)+>
<!ELEMENT OrderItem (,CostCenterIdCustContractId,FreightHandlerId,ItemId,OrderId,OrderRoutingId,PurchaseOrderId,AckStatusCd,AddBy,AddDate,Comments,CustContractPrice,CustContractShortDesc,CustItemPack,CustItemShortDesc,CustItemSkuNum,CustItemUom,CustLineNum,DistBaseCost,DistErpNum,DistItemCost,DistItemPack,DistItemQuantity,DistItemShortDesc,DistItemSkuNum,DistItemUom,DistOrderNum,DistUomConvCost,DistUomConvMultiplier,ErpOrderLineNum,ErpOrderNum,ErpPoDate,ErpPoLineNum,ErpPoNum,ErpPoTime,ExceptionInd,InventoryParValue,InventoryQtyOnHand,ItemCost,ItemPack,ItemQty855,ItemShortDesc,ItemSize,ItemSkuNum,ItemUom,ManuItemMsrp,ManuItemShortDesc,ManuItemSkuNum,ManuItemUpcNum,ManuPackUpcNum,ModBy,ModDate,OrderItemStatusCd,OrderLineNum,QuantityBackordered,QuantityConfirmed,SaleTypeCd,TargetShipDate,TotalQuantityOrdered,TotalQuantityReceived,TotalQuantityShipped)>
<!ATTLIST OrderItem Id ID #REQUIRED>
<!ELEMENT CostCenterId (#PCDATA)>
<!ELEMENT CustContractId (#PCDATA)>
<!ELEMENT FreightHandlerId (#PCDATA)>
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT OrderId (#PCDATA)>
<!ELEMENT OrderRoutingId (#PCDATA)>
<!ELEMENT PurchaseOrderId (#PCDATA)>
<!ELEMENT AckStatusCd (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Comments (#PCDATA)>
<!ELEMENT CustContractPrice (#PCDATA)>
<!ELEMENT CustContractShortDesc (#PCDATA)>
<!ELEMENT CustItemPack (#PCDATA)>
<!ELEMENT CustItemShortDesc (#PCDATA)>
<!ELEMENT CustItemSkuNum (#PCDATA)>
<!ELEMENT CustItemUom (#PCDATA)>
<!ELEMENT CustLineNum (#PCDATA)>
<!ELEMENT DistBaseCost (#PCDATA)>
<!ELEMENT DistErpNum (#PCDATA)>
<!ELEMENT DistItemCost (#PCDATA)>
<!ELEMENT DistItemPack (#PCDATA)>
<!ELEMENT DistItemQuantity (#PCDATA)>
<!ELEMENT DistItemShortDesc (#PCDATA)>
<!ELEMENT DistItemSkuNum (#PCDATA)>
<!ELEMENT DistItemUom (#PCDATA)>
<!ELEMENT DistOrderNum (#PCDATA)>
<!ELEMENT DistUomConvCost (#PCDATA)>
<!ELEMENT DistUomConvMultiplier (#PCDATA)>
<!ELEMENT ErpOrderLineNum (#PCDATA)>
<!ELEMENT ErpOrderNum (#PCDATA)>
<!ELEMENT ErpPoDate (#PCDATA)>
<!ELEMENT ErpPoLineNum (#PCDATA)>
<!ELEMENT ErpPoNum (#PCDATA)>
<!ELEMENT ErpPoTime (#PCDATA)>
<!ELEMENT ExceptionInd (#PCDATA)>
<!ELEMENT InventoryParValue (#PCDATA)>
<!ELEMENT InventoryQtyOnHand (#PCDATA)>
<!ELEMENT ItemCost (#PCDATA)>
<!ELEMENT ItemPack (#PCDATA)>
<!ELEMENT ItemQty855 (#PCDATA)>
<!ELEMENT ItemShortDesc (#PCDATA)>
<!ELEMENT ItemSize (#PCDATA)>
<!ELEMENT ItemSkuNum (#PCDATA)>
<!ELEMENT ItemUom (#PCDATA)>
<!ELEMENT ManuItemMsrp (#PCDATA)>
<!ELEMENT ManuItemShortDesc (#PCDATA)>
<!ELEMENT ManuItemSkuNum (#PCDATA)>
<!ELEMENT ManuItemUpcNum (#PCDATA)>
<!ELEMENT ManuPackUpcNum (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT OrderItemStatusCd (#PCDATA)>
<!ELEMENT OrderLineNum (#PCDATA)>
<!ELEMENT QuantityBackordered (#PCDATA)>
<!ELEMENT QuantityConfirmed (#PCDATA)>
<!ELEMENT SaleTypeCd (#PCDATA)>
<!ELEMENT TargetShipDate (#PCDATA)>
<!ELEMENT TotalQuantityOrdered (#PCDATA)>
<!ELEMENT TotalQuantityReceived (#PCDATA)>
<!ELEMENT TotalQuantityShipped (#PCDATA)>