kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/OrderCreditCard.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT OrderCreditCardList (OrderCreditCard)+>
<!ELEMENT OrderCreditCard (OrderId,Address1,Address2,Address3,Address4,AddBy,AddDate,AuthAddressStatusCd,AuthStatusCd,City,CountryCd,CreditCardNumberDisplay,CreditCardType,EncryptedCreditCardNumber,EncryptionAlgorithm,EncryptionAlias,ExpMonth,ExpYear,HashedCreditCardNumber,HashAlgorithm,ModBy,ModDate,Name,PostalCode,StateProvinceCd)>
<!ATTLIST OrderCreditCard Id ID #REQUIRED>
<!ELEMENT OrderId (#PCDATA)>
<!ELEMENT Address1 (#PCDATA)>
<!ELEMENT Address2 (#PCDATA)>
<!ELEMENT Address3 (#PCDATA)>
<!ELEMENT Address4 (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT AuthAddressStatusCd (#PCDATA)>
<!ELEMENT AuthStatusCd (#PCDATA)>
<!ELEMENT City (#PCDATA)>
<!ELEMENT CountryCd (#PCDATA)>
<!ELEMENT CreditCardNumberDisplay (#PCDATA)>
<!ELEMENT CreditCardType (#PCDATA)>
<!ELEMENT EncryptedCreditCardNumber (#PCDATA)>
<!ELEMENT EncryptionAlgorithm (#PCDATA)>
<!ELEMENT EncryptionAlias (#PCDATA)>
<!ELEMENT ExpMonth (#PCDATA)>
<!ELEMENT ExpYear (#PCDATA)>
<!ELEMENT HashedCreditCardNumber (#PCDATA)>
<!ELEMENT HashAlgorithm (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT PostalCode (#PCDATA)>
<!ELEMENT StateProvinceCd (#PCDATA)>