kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/OrderAssoc.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT OrderAssocList (OrderAssoc)+>
<!ELEMENT OrderAssoc (,Order1IdOrder2Id,AddBy,AddDate,ModBy,ModDate,OrderAssocCd,OrderAssocStatusCd)>
<!ATTLIST OrderAssoc Id ID #REQUIRED>
<!ELEMENT Order1Id (#PCDATA)>
<!ELEMENT Order2Id (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT OrderAssocCd (#PCDATA)>
<!ELEMENT OrderAssocStatusCd (#PCDATA)>