kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/Pipeline.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT PipelineList (Pipeline)+>
<!ELEMENT Pipeline (,BusEntityId,AddBy,AddDate,Classname,ModBy,ModDate,Optional,PipelineOrder,PipelineStatusCd,PipelineTypeCd,ShortDesc)>
<!ATTLIST Pipeline Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Classname (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT Optional (#PCDATA)>
<!ELEMENT PipelineOrder (#PCDATA)>
<!ELEMENT PipelineStatusCd (#PCDATA)>
<!ELEMENT PipelineTypeCd (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>