kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/PreOrderProperty.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT PreOrderPropertyList (PreOrderProperty)+>
<!ELEMENT PreOrderProperty (,PreOrderId,Value,OrderPropertyTypeCd,ShortDesc)>
<!ATTLIST PreOrderProperty Id ID #REQUIRED>
<!ELEMENT PreOrderId (#PCDATA)>
<!ELEMENT Value (#PCDATA)>
<!ELEMENT OrderPropertyTypeCd (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>