kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/ReportExchangeLog.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ReportExchangeLogList (ReportExchangeLog)+>
<!ELEMENT ReportExchangeLog (,GenericReportId,AddDate,Value,ModDate,RecordKey,SentDate)>
<!ATTLIST ReportExchangeLog Id ID #REQUIRED>
<!ELEMENT GenericReportId (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Value (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT RecordKey (#PCDATA)>
<!ELEMENT SentDate (#PCDATA)>