kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/ReturnRequest.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ReturnRequestList (ReturnRequest)+>
<!ELEMENT ReturnRequest (,InvoiceDistIdPurchaseOrderId,AddBy,AddDate,DateRequestRecieved,DistributorInvoiceNumber,DistributorRefNum,ModBy,ModDate,NotesToDistributor,PickupContactName,Reason,ReturnMethod,ReturnRequestRefNum,ReturnRequestStatus,SenderContactName,SenderContactPhone)>
<!ATTLIST ReturnRequest Id ID #REQUIRED>
<!ELEMENT InvoiceDistId (#PCDATA)>
<!ELEMENT PurchaseOrderId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT DateRequestRecieved (#PCDATA)>
<!ELEMENT DistributorInvoiceNumber (#PCDATA)>
<!ELEMENT DistributorRefNum (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT NotesToDistributor (#PCDATA)>
<!ELEMENT PickupContactName (#PCDATA)>
<!ELEMENT Reason (#PCDATA)>
<!ELEMENT ReturnMethod (#PCDATA)>
<!ELEMENT ReturnRequestRefNum (#PCDATA)>
<!ELEMENT ReturnRequestStatus (#PCDATA)>
<!ELEMENT SenderContactName (#PCDATA)>
<!ELEMENT SenderContactPhone (#PCDATA)>