kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/Schedule.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ScheduleList (Schedule)+>
<!ELEMENT Schedule (,BusEntityId,AddBy,AddDate,Cycle,EffDate,ExpDate,ModBy,ModDate,ScheduleRuleCd,ScheduleStatusCd,ScheduleTypeCd,ShortDesc)>
<!ATTLIST Schedule Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Cycle (#PCDATA)>
<!ELEMENT EffDate (#PCDATA)>
<!ELEMENT ExpDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ScheduleRuleCd (#PCDATA)>
<!ELEMENT ScheduleStatusCd (#PCDATA)>
<!ELEMENT ScheduleTypeCd (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>