kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/ScheduleDetail.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT ScheduleDetailList (ScheduleDetail)+>
<!ELEMENT ScheduleDetail (ScheduleId,AddBy,AddDate,ModBy,ModDate,ScheduleDetailCd,Value)>
<!ATTLIST ScheduleDetail Id ID #REQUIRED>
<!ELEMENT ScheduleId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ScheduleDetailCd (#PCDATA)>
<!ELEMENT Value (#PCDATA)>