kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/SiteLedger.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT SiteLedgerList (SiteLedger)+>
<!ELEMENT SiteLedger (,CostCenterIdFiscalCalenderId,OrderId,SiteId,AddBy,AddDate,Amount,BudgetPeriod,BudgetYear,EntryTypeCd,ModBy,ModDate)>
<!ATTLIST SiteLedger Id ID #REQUIRED>
<!ELEMENT CostCenterId (#PCDATA)>
<!ELEMENT FiscalCalenderId (#PCDATA)>
<!ELEMENT OrderId (#PCDATA)>
<!ELEMENT SiteId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Amount (#PCDATA)>
<!ELEMENT BudgetPeriod (#PCDATA)>
<!ELEMENT BudgetYear (#PCDATA)>
<!ELEMENT EntryTypeCd (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>