kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/TradingPartner.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT TradingPartnerList (TradingPartner)+>
<!ELEMENT TradingPartner (,SiteIdentifierTypeCd,AddBy,AddDate,ModBy,ModDate,PoNumberType,ShortDesc,SkuTypeCd,TradingPartnerStatusCd,TradingPartnerTypeCd,TradingTypeCd,UomConversionTypeCd,ValidateContractPrice)>
<!ATTLIST TradingPartner Id ID #REQUIRED>
<!ELEMENT SiteIdentifierTypeCd (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT PoNumberType (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>
<!ELEMENT SkuTypeCd (#PCDATA)>
<!ELEMENT TradingPartnerStatusCd (#PCDATA)>
<!ELEMENT TradingPartnerTypeCd (#PCDATA)>
<!ELEMENT TradingTypeCd (#PCDATA)>
<!ELEMENT UomConversionTypeCd (#PCDATA)>
<!ELEMENT ValidateContractPrice (#PCDATA)>