kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/UserAssoc.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT UserAssocList (UserAssoc)+>
<!ELEMENT UserAssoc (,BusEntityId,UserId,AddBy,AddDate,ModBy,ModDate,UserAssocCd)>
<!ATTLIST UserAssoc Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT UserId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT UserAssocCd (#PCDATA)>