kit/artifacts/deploy/xsuite.ear/defst.war/reporting/dtds/WorkflowQueue.dtd


<!-- DO NOT EDIT - Generated code from XSL file DTD.xsl -->

<?xml encoding="US-ASCII"?>

<!ELEMENT WorkflowQueueList (WorkflowQueue)+>
<!ELEMENT WorkflowQueue (,BusEntityIdOrderId,WorkflowId,WorkflowRuleId,AddBy,AddDate,Message,ModBy,ModDate,ShortDesc,WorkflowRoleCd)>
<!ATTLIST WorkflowQueue Id ID #REQUIRED>
<!ELEMENT BusEntityId (#PCDATA)>
<!ELEMENT OrderId (#PCDATA)>
<!ELEMENT WorkflowId (#PCDATA)>
<!ELEMENT WorkflowRuleId (#PCDATA)>
<!ELEMENT AddBy (#PCDATA)>
<!ELEMENT AddDate (#PCDATA)>
<!ELEMENT Message (#PCDATA)>
<!ELEMENT ModBy (#PCDATA)>
<!ELEMENT ModDate (#PCDATA)>
<!ELEMENT ShortDesc (#PCDATA)>
<!ELEMENT WorkflowRoleCd (#PCDATA)>